.footer-margin {
  position: relative;
  z-index: 1;
  margin-top: -6em;
}

.footer {
  width: 100%;
  height: auto;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  margin: -5em 0 0 0;
  background: #4942d6;
}

.footer-content {
  background: #4942d6;
  /* background: #564dff; */
  color: white;
  margin-bottom: 6em;
  padding-top: 6em;
}

.footer-text {
  font-weight: 600;
  font-size: 1.3em;
  margin-left: 1em;
}

.footer-text-navigation {
  font-weight: 600;
  font-size: 1.3em;
  height: 32px;
}

.copyright {
  background: #564dff;
  color: white;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  text-decoration: none;
  color: white;
}
