.title {
  font-family: 'ArvoRegular';
  color: var(--soft-red);
  font-size: 16px;
}

h1 {
  font-family: 'ArvoRegular';
  font-size: 44px;
  font-weight: 500;
  color: var(--remco-blue);
}

h3 {
  font-family: 'ArvoRegular';
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: var(--black-title);
}

.automate {
  background-color: #fff2ec;
}

.product {
  background-color: #efedf3;
}

.advisory {
  background-color: #f4f7f7;
}

.how-we-do-it {
  padding-top: 30px;
}

.our-services-container {
  margin-top: 45em;
}
