.our-process-main {
  margin-top: 15em;
}

.our-process {
  font-size: 19px;
  font-weight: 600;
  color: var(--soft-red);
}

.all-process-container {
  margin-top: 30px;
}

.process-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;
}

.process-icon {
  margin-bottom: 20px;
}

.process-title {
  font-size: 20px;
  font-weight: 550;
  color: #1a6633;
}

.process-description {
  font-size: 17px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
}

.slogan {
  font-weight: 700;
  font-size: 23px;
  color: #1e3050;
}
