.mission {
  margin-top: 3em;
  position: absolute;
  width: 100%;
  min-height: 670px;
  background: linear-gradient(0deg, #f5f9fd, rgba(255, 255, 255, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
