.wave-margin {
  margin-top: 13em;
}

.about-us {
  margin-top: -1em;
  position: relative;
  background: #f8f9ff;
  padding-bottom: 13em;
  z-index: 0;
}

.about-us-title {
  font-weight: 600;
  color: var(--soft-red);
  font-size: 19px;
  margin-bottom: 30px;
}

.about-us-container {
  padding-top: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.about-us-text {
  font-size: 1.2rem;
}

.jmr {
  font-weight: 500;
  font-size: 1.2rem;
  color: #1a6633;
}

.blob-shape {
  background-color: #f0ec57;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
}
